.imageCss {
      margin-top: 10px;
      margin-left: 10px;
      color: white;
      background: #707070;
      border-radius: 50%;
      border: 2px solid #404040 ;
      max-width: 150px;
      max-height: 50px;
}